<div class="container">

  <h1>Resultats</h1>

<h5><strong>Nature de l'intervention:</strong></h5>
<p> <%= @results[:final_answer][:result]  %></p>
<br/>
<h5><strong>Prix approximatif de l'intervention:</strong></h5>
<p> <%= @results[:final_answer][:tarif]  %></p>
<br/>
<h5><strong>Paiement attribué:</strong></h5>
<p> <%= @results[:final_answer][:responsable]  %></p>

<h5><strong>Votre incident:</strong></h5>
<% @resume.each do |t| %>
> <%= Incident::TREE[t][:label]  %><br/>
<em><strong><%= Incident::TREE[t][:next_question]  %> <br/></strong></em>
<% end %>

</div>

