<div class="container-fluid">
  <div class="incident-wrapper">
    <div class="incident-left">
      <div class="incident-left-upper">
        <!-- Display the result with all incident informations -->
        <div class="incident-delete">
          <%= link_to incident_path(@incident), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
            <i class="far fa-trash-alt"></i>
          <% end  %>
        </div>
        <div class="incident-result">
          <h1 style="text-align: center;">Déclaration de l'incident</h1>
          <div class="incident-description">
                <!-- Date -->
            <div class="incident-date d-flex">
              <i class="far fa-calendar-alt"></i><h4><%= Date.today.strftime("%d.%m.%Y") %></h4>
            </div>
            <!-- Category -->
            <div class="incident-category d-flex">
              <i class="fas fa-exclamation-triangle"></i><h4><%= @incident.reparation %></h4>
            </div>
            <!-- Price -->
            <div class="incident-price d-flex">
              <i class="fas fa-money-bill-wave"></i><h4><%= @incident.tarif %></h4>
            </div>
            <!-- Responsability -->

            <div class="incident-responsability d-flex">
              <i class="fas fa-gavel"></i><h4><%= @incident.responsable %></h4>
            </div>
            <!-- <div> -->
              <%#= link_to "Annuler", incident_path(@incident), method: :delete, :class => "btn btn-info mt-1 mb-1 text-white", data: { confirm: "Are you sure?" } %>
            <!-- </div> -->
            <!-- Summary -->
            <div class="incident-summary">
              <h5><strong>Recapitulatif</strong></h5>
              <% @resume.each do |t| %>
                <p class="reponse"><%= Incident::TREE[t][:label] %></p>
                <p class="question"><%= Incident::TREE[t][:next_question] %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Display the list of workers -->
    <div class="incident-right w-100">
      <div class="incident-workers">
        <div class="container-fluid">
          <!-- Only Favorite Workers -->
          <h2><i class="fas fa-star" style="font-size:15px; padding-right:5px;"></i>Réparateurs validés par le propriétaire </h2>
          <ul class="">
            <% @workers_favorite.each_with_index do |worker, idx| %>
              <li>
                <%= render 'workers/card_worker', worker: worker, idx: idx %>
              </li>
            <% end %>
          </ul>
          <!-- Only NONE favorite Workers -->
          <h2>Autres réparateurs selectionnés par HomeLib</h2>
          <ul class="">
            <% @workers_other.each_with_index do |worker, idx| %>
              <li>
                <%= render 'workers/card_worker', worker: worker, idx: idx %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modale Intervention-->
        <div class="modal fade" id="valid_incident_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content body">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Finaliser l'incident</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body d-flex justify-content-center">
                <div class="d-flex justify-content-center" style="width:80%">
                  <div class="w-100 text-center">
                    <h5 class="mb-3">Incident de <%= @incident.category %></h5>
                    <div class="container d-flex justify-content-center">
                      <%= simple_form_for(@incident)  do |f| %>
                        <div>
                          <%= f.input :comment, placeholder: 'Voulez-vous ajouter un commentaire ?', label: false %>
                          <%= f.input :dispo, placeholder: 'Vos disponibilités de rendez-vous', label: false, input_html: {class: "text"}  %>
                          <%= f.input :date , placeholder: 'Date de l\'incident', label: false, as: :string, required: false, input_html: {class: "datepicker bg-white text"} %>
                          <%= f.input :photos, as: :file, input_html: { multiple: true, :class => 'text-white d-none m-0'}, label: 'Ajoutez des photos ?', label_html: {class: "btn btn-primary m-0 w-100", id: 'file-pick2'}%>

                        </div>
                        <div class="mb-4 d-flex flex-column text-left text " id="file-upload-value"></div>
                        <%= f.submit "Je valide l'incident", class: "btn btn-info ml-0 text-white w-100" %>
                      <% end %>
                    </div>

                      <!-- <div class="btn btn-info mt-4 "> -->
                        <%#= link_to "Delete", incident_path(@incident), method: :delete, data: { confirm: "Are you sure?" } %>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              <!-- </div> -->
            </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
