<% page_heading "Bienvenu sur votre dashboard locataire" # title %>

<div class="container">

  <!-- conteneur de la partie haute -->
  <div class="upper-part">

    <div class="upper-left">

      <div class="tab">
        <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'appart')" >Appartement</button>
        <button class="tablinks" onclick="openCity(event, 'edl')" >Etat des lieux</button>
          <button class="tablinks" onclick="openCity(event, 'document')" >Documents</button>
        <% if @incidents.first %>
         <button class="tablinks" onclick="openCity(event, 'incident')" >Incidents</button>
        <% end %>
      </div>

      <div id="appart" class="product-container tabcontent bg-white">
        <% if @flat %>

          <div class="carac-appart p-3">
            <h1><i class="far fa-building"></i>   Caractéristiques</h1>
            <p><i class="fas fa-location-arrow"></i><%= @flat.address %></p>
            <p><i class="fas fa-info"></i><%= @flat.description %></p>
            <p><i class="fas fa-arrows-alt"></i><%= @flat.area %> m2</p>
          </div>
          <div>
            <div class="carac-syndic p-3">
              <h1>Coordonnées du Syndic</h1>
              <p><i class="fas fa-phone"> </i>  <%= @flat.syndic_phone %></p>
              <p><i class="fas fa-envelope-open-text"></i>  <%= @flat.syndic_email %></p>
            </div>
            <div class="carac-syndic p-3">
              <h1>Ma location</h1>
              <p><i class="fas fa-plane-arrival"></i>  <%= @rental.start_date %></p>
              <p><i class="fas fa-money-bill-alt"></i>  <%= @rental.loyer %> €</p>
            </div>
          </div>
        <% else %>
          Pas de location en cours
        <% end %>
      </div>

      <div id="edl" class="product-container tabcontent carous2">
          <%= render 'carousel' %>
      </div>
      <div id="document" class="product-container tabcontent">
        <% if @documents.first %>
          <% current_user.documents.each do |doc| %>
            <div class="document-card">
              <div class="icone">
                <i class="fas fa-file-pdf"></i>
              </div>
              <div class="document-name">
                <p class="m-0 p-1"><%= doc.name %></p>
              </div>
              <div class="document-date">
                <p class="m-0 p-1"><%= doc.date %></p>
              </div>
              <div class="telechargement">
                <%= link_to("📥", cl_image_path(doc.file.key), class: "download" ) %>
              </div>
              <div class="delete">
                <%= link_to "🗑", document_path(@documents[0]),  method: :delete, class: "destroy" %>
              </div>
            </div>
          <% end %>
        <% end %>
          <%= link_to "Ajouter un nouveau document", new_document_path, class: "btn btn-success"  %>
      </div>


      <div id="incident" class="product-container tabcontent ">
        <div class="">
          <p>INCIDENTS</p>
          <% @incidents.each do |incident| %>
            <% if incident.date && incident.date >= @rental.start_date %>

              <span class="align-baseline"> <p> <%=incident.status%> <%=incident.date%> <%=incident.category%> </p></span>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <!-- Partie haute dashboard loyer  -->

    <div class="upper-right d-flex flex-column">
      <% if @rental %>

        <div class="loyers right-el mb-3">
          <div class="title">
            <p class="">Mes Loyers</p>
          </div>

          <div class="loyers-content">
          <% @last_rents.each do |rent| %>
            <div id="rent_<%= rent.id %>" class="rent-line">
              <div class="rent-date">
                <%= I18n.l(rent.date,  format: '%B', locale: :'fr').capitalize %>
              </div>
              <div class="rent-amount">
                <%= @rental.loyer %> €
              </div>
              <div class="rent-status">
                <%= render 'rents/rent_status', rent: rent, rental: @rental %>
              </div>
            </div>
          <% end %>
          </div>
        </div>

        <div class="eds right-el d-flex flex-column ">
          <div class="title">
            <p class="m-2">Mes documents</p>
          </div>
          <div class="document-content">
            <% current_user.documents.each do |doc| %>
              <div class="document-card">
                <div class="icone">
                  <i class="fas fa-file-pdf"></i>
                </div>
                <div class="document-name">
                  <p class="m-0 p-1"><%= doc.name %></p>
                </div>
                <div class="document-date">
                  <p class="m-0 p-1"><%= doc.date %></p>
                </div>
                <div class="telechargement">
                  <%= link_to("📥", cl_image_path(doc.file.key), class: "download" ) %>
                </div>
                <div class="delete">
                  <%= link_to "🗑", document_path(@documents[0]),  method: :delete, class: "destroy" %>
                </div>
              </div>
            <% end %>
          </div>
        <%= link_to "Ajouter un nouveau document", new_document_path, class: "btn btn-success"  %>
        </div>

      <% else %>
        <p>Pas de location en cours</p>
      <% end %>
    </div>



  </div>


<!-- Display error -->
<%= render 'incidents/errors', incident: @incident %>

<!-- Tab script -->
<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "flex";
    evt.currentTarget.className += " active";
  }
  document.getElementById("defaultOpen").click();
</script>

