
<!-- conteneur général de toute la page -->
<div class="container">

  <!-- conteneur de la partie haute -->
  <div class="upper-part">

    <div class="upper-left">

      <div class="tab">
        <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'appart')" >Appartement</button>
        <button class="tablinks" onclick="openCity(event, 'edl')" >Etat des lieux</button>
        <% if @documents.first %>
          <button class="tablinks" onclick="openCity(event, 'document')" >Documents</button>
        <% end %>
        <% if @incidents.first %>
         <button class="tablinks" onclick="openCity(event, 'incident')" >Incidents</button>
        <% end %>
      </div>

      <div id="appart" class="product-container tabcontent bg-white">
        <% if @flat %>

          <div class="carac-appart p-3">
            <h1><i class="far fa-building"></i>   Caractéristiques</h1>
            <p><i class="fas fa-location-arrow"></i><%= @flat.address %></p>
            <p><i class="fas fa-info"></i><%= @flat.description %></p>
            <p><i class="fas fa-arrows-alt"></i><%= @flat.area %> m2</p>
          </div>
          <div class="carac-syndic p-3">
            <h1>Coordonnées du Syndic</h1>
            <p><i class="fas fa-phone"> </i>  <%= @flat.syndic_phone %></p>
            <p><i class="fas fa-envelope-open-text"></i>  <%= @flat.syndic_email %></p>
          </div>

        <% else %>
          Pas de location en cours
        <% end %>
      </div>

      <div id="edl" class="product-container tabcontent carous2">
          <%= render 'carousel' %>
      </div>
      <div id="document" class="product-container tabcontent">
         <p>DOCUMENTS</p>
      </div>

      <div id="incident" class="product-container tabcontent ">
        <div class="">
          <p>INCIDENTS</p>
          <% @incidents.each do |incident| %>
            <span class="align-baseline"> <p> <%=incident.status%> <%=incident.date%> <%=incident.category%> </p></span>
          <% end %>
        </div>

      </div>

    </div>

  <!-- Partie haute dashboard loyer  -->

    <div class="upper-right d-flex flex-column">
      <% if @rental %>

        <div class="loyers right-el mb-3">
          <div class="title">
            <h1>Mes Loyers</h1>
          </div>
          <% @last_rents.each do |rent| %>
            <div class="rent-line">
              <div class="rent-date">
                <%= rent.date.strftime('%B') %>
              </div>
              <div class="rent-amount">
                <%= @rental.loyer %>
              </div>
              <div class="rent-status">
                <% if rent.status == "Payé" %>
                  <i class="fas fa-check-circle text-success"></i>
                  <%= link_to "Quittance", rent_path(rent, format: :pdf), class: "btn btn-success", target: "_blank" %>
                <% else %>
                  <i class="fas fa-times-circle text-danger"></i>
                  <%= link_to "Payer", "#", class: "btn btn-info" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
          <div class="eds right-el d-flex flex-column justify-content-center">
                  Mes documents
            <% current_user.documents.each do |doc| %>
                <button class="d-flex">
                  <i class="fas fa-file-pdf"></i>

                  <p class="m-0 p-1"><%= doc.name %></p>
                </button>
               <%#= link_to "download" , ( cl_image_tag"#{doc.file.key}" , :flag => "attachment") %>
               <%= link_to("download", cl_image_path(doc.file.key)) %>
          <% end %>
          </div>

        <%= link_to "Ajouter un nouveau document", new_document_path, class: "btn btn-success"  %>

      <% else %>

        <p>Pas de location en cours</p>

      <% end %>
    </div>


  </div>


  <!-- Partie basse des tuiles responsive -->
  <div class="container incident mt-5">
    <h1>Déclarer un sinistre</h1>

    <%= simple_form_for Incident.new, html:{id:"dashboard_new_incident"} do |f| %>
      <%= f.input :answer, label: "", collection: @first_decision[:answers], label_method: lambda{ |answer| render "incident_category_card", incident_category: answer.first }, as: :radio_buttons %>
      <%= f.submit "OK", class: "btn btn-primary d-none" %>
    <% end %>




<!--
    <div class="cards">
      <div id="myBtn" class="card-incident" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Incendie
      </div>
      <div class="card-incident" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://recherches-de-fuites.fr/wp-content/uploads/2018/05/fuite-canalisation.jpg)">
        Fuite
      </div>
      <div class="card-incident" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Electricité
      </div>
      <div class="card-incident" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Fenêtre
      </div>
      <div class="card-incident" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Serrure
      </div>
      <div class="card-incident" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Autre incident
      </div>
    </div>
  </div>
</div> -->
<!-- END Active PAGE -->



<!-- The Modal -->

<!-- <div id="myModal" class="modal"> -->

  <!-- Modal content -->
 <!--  <div class="modal-content">
    <div class="modal-header">
      <h2>Déclarer un sinistre</h2>
      <span class="close-modal_c">&times;</span>
    </div>
    <div class="modal-body">
      <div class="card-incident" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        Feu
      </div>
      <p>Some text in the Modal Body</p>
      <p>Some other text...</p>
      <%#= simple_form_for(@incident) do |form| %>
        <%#= form.input :category, collection: Incident::CATEGORIES, include_blank: "Select a category"  %>
        <%#= form.button :submit, "Next" %>
      <%# end %>
      <div class="progress" style="height: 2px;">
        <div class="progress-bar bg-info" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div>
  </div>

</div> -->
<!-- END Modal -->

<!-- Display error -->
<%= render 'incidents/errors', incident: @incident %>

<!-- Tab script -->
<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "flex";
    evt.currentTarget.className += " active";
  }
  document.getElementById("defaultOpen").click();
</script>

