<div class="container">
  <%= simple_form_for @document do |f| %>
    <%= f.input :name, placeholder: "Nom du document" %>
    <%= f.input :date, placeholder: "Date" %>
    <%= f.input :file, as: :file %>
    <%= f.submit "Créer", class: "btn btn-primary" %>
  <% end %>
</div>
