<div data-worker-id="<%= worker.id %>" class="card-worker mt-3">
  <!-- Display heart only for Owner  -->
  <% if current_user.flats.present? %>
  <div id="<%= worker.id %>">
    <%= render 'user_workers/worker_favorite', worker: worker %>
  </div>
  <% end %>
  <!-- Display star for renter for his owner's favorite workers -->
  <% if current_user.rentals.present? && current_user.rentals.last.flat.user.workers.include?(worker)
 %>
  <div class="card-worker-star">
    <div class="worker-favorite">
      <i class="fas fa-star"></i>
    </div>
  </div>
  <% end %>
  <!-- Display worker photo  -->
  <div class="worker-photo">
    <%= cl_image_tag worker.photos.first.key, crop: :thumb, width: 190, height: 280 %>
  </div>
  <!-- Display worker description  -->
  <div class="worker-description">
    <h2><%= worker.name %></h2>
    <h4>Catégorie : <%= worker.categories %></h4>
    <h3><i class="fas fa-address-card"></i> : <%= worker.address %></h3>
    <h3><i class="fas fa-envelope"></i> : <%= worker.email %></h3>
    <h3><i class="fas fa-phone"></i> : <%= worker.phone %></h3>
    <% if worker.description && worker.description.size > 180 %>
      <p><%= worker.description.first(180) %><span class="show">... <%= link_to "Lire la suite", "" %></span ><span class="hide"><%= worker.description.last(-180) %> <%= link_to "Lire moins", "" %></span></p>
    <% else %>
      <p><%= worker.description %></p>
    <% end %>
    <!-- Call To Action  -->
    <button>Contacter</button>
    <button>Voir plus</button>
    <!-- Avatar -->
    <%= cl_image_tag worker.avatar.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: 'avatar-bordered worker-avatar' if worker.avatar.attached? %>
  </div>
</div>
